Makefile
buildpkg.sh
config.h
config.h.in
config.h.in~
config.log
config.status
configure*
aclocal.m4
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
openssh.xml
opensshd.init
survey.sh
**/*.0
**/*.o
**/*.lo
**/*.so
**/*.out
**/*.a
**/*.un~
**/.*.swp
autom4te.cache/
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
ssh-sk-helper
sshd
!regress/misc/fuzz-harness/Makefile
!regress/unittests/sshsig/Makefile
tags

# Added by OQS
oqs-test/tmp
oqs-scripts/tmp
oqs/
*.dSYM
__pycache__
regress/*.out.pub
regress/*.pub
regress/authorized_keys_*
regress/check-perm
regress/data
regress/ecdsa-*
regress/host.*
regress/known_hosts
regress/ssh-*
regress/ssh_*
regress/t6.*
regress/unittests
regress/*.prv
regressh/*.com
regress/*.log
regress/sshd_*
regress/mkdtemp
regress/modpipe
regress/netcat
regress/setuid-allowed
regress/sk-*
regress/timestamp
regress/sshd-log-wrapper.sh